<h1>Listing receiver_times</h1>

<table>
  <tr>
    <th>Receiverweeknumber</th>
    <th>Receiversecondsofweek</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receiver_times.each do |receiver_time| %>
  <tr>
    <td><%= receiver_time.receiverWeekNumber %></td>
    <td><%= receiver_time.receiverSecondsOfWeek %></td>
    <td><%= link_to 'Show', receiver_time %></td>
    <td><%= link_to 'Edit', edit_receiver_time_path(receiver_time) %></td>
    <td><%= link_to 'Destroy', receiver_time, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Receiver time', new_receiver_time_path %>
