<p id="notice"><%= notice %></p>

<p>
  <b>Receiverid:</b>
  <%= @scintillation.receiverID %>
</p>

<p>
  <b>Offsettimeid:</b>
  <%= @scintillation.offsetTimeID %>
</p>

<p>
  <b>Measurementintervallength:</b>
  <%= @scintillation.measurementIntervalLength %>
</p>

<p>
  <b>S4wholeinterval:</b>
  <%= @scintillation.s4WholeInterval %>
</p>

<p>
  <b>S4firsthalfinterval:</b>
  <%= @scintillation.s4FirstHalfInterval %>
</p>

<p>
  <b>S4secondhalfinterval:</b>
  <%= @scintillation.s4SecondHalfInterval %>
</p>

<p>
  <b>Sigmaphiwholeinterval:</b>
  <%= @scintillation.sigmaPhiWholeInterval %>
</p>

<p>
  <b>Sigmaphifirsthalfinterval:</b>
  <%= @scintillation.sigmaPhiFirstHalfInterval %>
</p>

<p>
  <b>Sigmaphisecondhalfinterval:</b>
  <%= @scintillation.sigmaPhiSecondHalfInterval %>
</p>

<p>
  <b>Tau0:</b>
  <%= @scintillation.tau0 %>
</p>

<p>
  <b>Scintillationpowerratio:</b>
  <%= @scintillation.scintillationPowerRatio %>
</p>

<p>
  <b>Referencechannelindicator:</b>
  <%= @scintillation.referenceChannelIndicator %>
</p>

<p>
  <b>Signaltypeid:</b>
  <%= @scintillation.signalTypeID %>
</p>

<p>
  <b>Transmitterid:</b>
  <%= @scintillation.transmitterID %>
</p>


<%= link_to 'Edit', edit_scintillation_path(@scintillation) %> |
<%= link_to 'Back', scintillations_path %>
